<div class="container">
  <app-form title="Task"></app-form>
  <app-form title="Description" button="Add Task"></app-form>
  <app-board title="To Do list">
    <app-column title="To Do" >
      <app-task *ngFor="let task of tasksToDo" [title]="task"></app-task>
    </app-column>
    <app-column title="Doing">
      <app-task *ngFor="let task of tasksDoing" [title]="task"></app-task>
    </app-column>
    <app-column title="Done">
      <app-task *ngFor="let task of tasksDone" [title]="task"></app-task>
    </app-column>
  </app-board>
</div>